/* ================= HERO ================= */

.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* Main Slides */
.heroMain .swiper-slide {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
}

/* Dark Gradient Overlay */
.heroMain .swiper-slide::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        rgba(0,0,0,0.75) 30%,
        rgba(0,0,0,0.3) 70%
    );
}

.hero-content {
    position: relative;
    z-index: 2;
    color: white;
    max-width: 600px;
}

.hero-badge {
    background: var(--button-color);
    padding: 6px 14px;
    border-radius: 999px;
    font-size: 12px;
    margin-bottom: 15px;
    display: inline-block;
}

.hero-content h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-content p {
    margin-bottom: 25px;
    color: #ddd;
}

.hero-btn {
    background: var(--button-color);
    color: #fff;
    padding: 12px 28px;
    border-radius: 8px;
}

/* ================= THUMBNAIL STRIP ================= */

.heroThumbs {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    overflow: visible !important;
    clip-path: inset(-100px 0);
}

.heroThumbs .swiper-slide {
    width: calc(100% / 6);
    height: 100%;
    opacity: 0.6;
    transition: 0.4s ease;
    cursor: pointer;
    border-radius: 16px;
    overflow: hidden;
}

.heroThumbs img {
    width:  calc(100% / 6 + 20px);
    height: 100%;
    object-fit: cover;
}

/* Active Thumbnail Bigger */
.heroThumbs .swiper-slide-thumb-active {
    width: 240px;
    height: 140px;
    opacity: 1;
    border: 3px solid var(--button-color);
    transform: translateY(-10px);
}

.slider-icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 10;
}

.slider-icons div {
    cursor: pointer;
    transition: 0.3s ease;
}

.slider-icons div:hover {
    transform: scale(1.2);
}





/* =========================
   Business Section
========================= */

.business-section {
    background-color: var(--bg-sections);
    padding: var(--pm64) 0;
}

.section-title {
    color: var(--bg1-color);
    font-weight: 700;
    margin-bottom: 3rem;
}

/* Tab Styling */
.nav-pills .nav-link {
    color: var(--sub-text);
    font-weight: 600;
    border-radius: 0;
    border-bottom: 3px solid transparent;
    padding-bottom: 10px;
    background: none !important;
}

.nav-pills .nav-link.active {
    color: var(--bg1-color) !important;
    border-bottom-color: var(--button-color);
}

.nav-pills img {
    display: block;
    margin: 0 auto 10px;
    height: 40px;
    filter: grayscale(100%);
    opacity: 0.6;
    transition: 0.3s ease;
}

.nav-pills .nav-link.active img {
    filter: none;
    opacity: 1;
}

/* Image Card Styling */

.business-card {
    position: relative;
    display: block;
    border-radius: var(--radius-lg);
    overflow: hidden;
    margin-bottom: 24px;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.business-card:hover {
    transform: translateY(-8px);
}

/* Image Zoom Effect */
.business-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.business-card:hover img {
    transform: scale(1.1);
}

/* Overlay */
.card-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
    color: white;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.4s ease;
}

/* Slide Up + Fade In */
.business-card:hover .card-overlay {
    opacity: 1;
    transform: translateY(0);
    background: rgba(26, 65, 116, 0.7);
}

/* Overlay Text */
.card-overlay span {
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s ease;
}

.card-overlay span i {
    margin-left: 6px;
}

/* Button */
.btn-view-all {
    background-color: var(--button-color);
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn-view-all:hover {
    opacity: 0.9;
}





/* =========================
   Services Section
========================= */
.services-section {
    padding: 50px 0;
    color: var(--bg-primary);
}

.sub-heading {
    color: var(--bg-primary);
    background-color: var(--bg-danger);
    padding: 6px 16px;
    border-radius: var(--radius999);
    font-weight: 500;
    font-size: clamp(14px, 1.2vw, 16px);
    font-family: var(--font-primary);
    width: fit-content;
    text-transform: uppercase;
}

.services-section h2 {
    font-size: 38px;
    color: var(--text-primary);
    font-weight: 700;
    max-width: 700px;
    line-height: 1.3;
}

.services-section .row.flex-column {
    color: var(--bg2-color);
}

.services-section .row.flex-column .badge {
    color: var(--bg-danger);
    font-size: 18px;
}

/* ---------- Services Box ---------- */
.Services-box {
    display: flex;
    height: 300px;
}

/* Items */
.Services-box-item {
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    transition:
        opacity 0.4s ease,
        transform 0.4s ease;

}

.Services-box-item:hover:after {
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.65),
            /* bottom dark */
            rgba(0, 0, 0, 0.25),
            /* middle */
            rgba(0, 0, 0, 0)
            /* top transparent */
        );
    opacity: 1;
    transform: translateY(0);
}

.Services-box-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: translateY(20%);
    transition:
        opacity 0.4s ease,
        transform 0.4s ease;
}

/* Image Area */
.Services-box-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.08);
}

/* Content Area */
.Services-box-item .services-content {
    padding: 20px;
    border-radius: var(--radius16);
    height: 100%;
    font-size: 16px;
    line-height: 1.6;
}

.services-content {
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    left: 0;
    z-index: 1111;
}

.services-content h3 {
    font-weight: 500;
}

.Services-box-right-arrow {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
    transform: translateX(50%);
    transition:
        opacity 0.4s ease,
        transform 0.4s ease;
}

.Services-box-item:hover .Services-box-right-arrow {
    opacity: 1;
    transform: translateX(0%);
}

.Services-box-right-arrow i {
    font-size: 24px;
}

/* ---------- Hover Effect ---------- */
.Services-box-item img,
.Services-box-item>div {
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.services-content p {
    font-size: 15px;
    line-height: 1.6;
    opacity: 0.9;
    margin: 0;
}

