/* ===================== Design System ===================== */
:root {
    /* Brand Colors */
    --bg1-color: #1A4174;
    --bg2-color: #000000;
    --bg3-color: #ffffff;
    --button-color: #e9292f;
    --text-color: #111928;
    --sub-text: #4b5563;
    --gold-color: #dda83d;
    --text-primary: #1A4174;


    --bg-primary: #FFFFFF;
    --bg-sections: #EAEEF4;


    --para-text: #4B5563;
    --bg-danger: #C81E1E;
    --bg-dark: #010169;
    --strong-black: #141415;
    --bg-light-blue: #0D4ABC;
    --bg-red-dark: #E9292F;



    /* Radius */
    --radius4: 4px;
    --radius8: 8px;
    --radius12: 12px;
    --radius16: 16px;
    --radius24: 24px;
    --radius999: 999px;

    /* Spacing */
    --pm4: 4px;
    --pm8: 8px;
    --pm12: 12px;
    --pm16: 16px;
    --pm24: 24px;
    --pm32: 32px;
    --pm48: 48px;
    --pm64: 64px;
}


/* ==============================
   Hero Section
   ============================== */

.hero .swiper {
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero {
    position: relative;
    min-height: 650px;
    max-height: 650px;
    height: 100vh;
    max-width: 1330px;
    border-radius: var(--radius16);
    overflow: hidden;
    color: var(--text-white);
    margin: 0 auto;
}

.hero .overlay-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    min-height: 650px;
    left: 0;
    top: 0;
    z-index: -1;
}

.overlay-bg img {
    display: none;
}


/* Default state */
.hero .overlay-bg .overlay-image {
    position: absolute;
    inset: 0;
    background-position: center;
    background-size: cover;

    z-index: 1;
    will-change: opacity, transform, filter;

    transition:
        opacity 1.2s ease,
        transform 1.6s cubic-bezier(0.22, 1, 0.36, 1),
        filter 1.2s ease;
}

/* Active image */
/* .hero .overlay-bg .overlay-image.active {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
    z-index: 11;
} */


.hero .overlay-bg .image1 {
    background:
        linear-gradient(to right, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.15), transparent),
        url("../assets/homePage/hero-image.jpg") no-repeat center / cover;
}

/* .hero .overlay-bg .image2 {
    background: url("../Assests/home/Bg-image-herosection1.jpg") no-repeat center / cover;
}

.hero .overlay-bg .image3 {
    background: url("../Assests/home/Bg-image-herosection2.jpg") no-repeat center / cover;
}
 */

.hero .overlay-image-mv {
    display: none;
}

/* Layout */
.hero-wrapper {
    position: relative;
    height: 100%;
    padding: var(--pm64) var(--pm48);
    display: flex;
    align-items: center;
}

/* Content */
.hero-content {
    z-index: 2;
}


.hero-content h1 {
    font-size: clamp(30px, 5vw, 60px);
    line-height: clamp(44px, 6vw, 72px);
    font-weight: 700;
    margin-bottom: var(--pm16);
    color: var(--bg-primary);
}

.hero-content .btn {
    margin-top: var(--pm24);
}

.hero-content p {
    font-size: 16px;
    color: var(--bg-primary);
    max-width: 520px;
}

/* Actions */
.hero-actions {
    margin-top: var(--pm24);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--pm24);
}

.hero-customers span {
    color: var(--bg-primary);
}

/* Primary Button (Hero specific override if needed) */
.btn-primary {
    background-color: var(--bg-danger);
    color: var(--text-white);
    padding: var(--pm12) var(--pm24);
    border-radius: var(--radius8);
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: var(--pm8);
    font-family: var(--font-primary);
}

/* Customers */
.hero-customers {
    display: flex;
    align-items: center;
    gap: var(--pm8);
    font-size: 14px;
    color: var(--bg-primary);
    padding-left: 20px;
}

.avatars img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: -8px;
    border: 2px solid var(--bg-primary);
}

.hero .swiper-slide {
    padding-left: 60px;
}

/* Arrows */

.hero-arrow.left {
    left: -0%;
}

.hero-arrow.right {
    right: -0%;

}

/* Dots */
.hero-dots {
    position: absolute;
    bottom: var(--pm24);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: var(--pm8);
    z-index: 11;
}

.hero-dots span {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.4);
    /* opacity: 0.5; */
    border-radius: 50px;
    transition:
        width 0.5s ease,
        background-color 0.5s ease;
}

.hero-dots span.active {
    width: 30px;
    background: var(--bg-danger);
}



.logo-swiper-section {
    background: #fff;
    padding: 40px 0;
    overflow: hidden;
}

.logo-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: fit-content;
}

.logo-slide img {
    max-height: 48px;
    width: auto;
    opacity: 0.85;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.logo-slide img:hover {
    opacity: 1;
    transform: scale(1.05);
}






/* =========================
   Growth Section
========================= */

.growth-section {
    width: 100%;
    min-height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
}

.growth-wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
}


/* LEFT SIDE */

.growth-left {
    width: 40%;
    background: linear-gradient(180deg, #0c3a6b, #001c38);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.growth-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*  RIGHT SIDE */

.growth-right {
    width: 60%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* QUOTE */

.quote-box {
    position: relative;
    max-width: 620px;
    margin-bottom: 50px;
}

.quote-box p {
    font-size: 18px;
    line-height: 1.7;
    color: #3a3a3a;
    position: relative;
    padding: 0 20px;
}

/* Opening Quote */
.quote-box p::before {
    content: "“";
    position: absolute;
    left: -5px;
    top: -10px;
    font-size: 40px;
    color: var(--bg-danger);
}

/* Closing Quote */
.quote-box p::after {
    content: "”";
    position: absolute;
    bottom: -15px;
    font-size: 40px;
    color: var(--bg-danger);
}

/* Animated Characters */
.quote-box .char {
    display: inline-block;
    color: rgb(193, 193, 193);
    transition: color 0.15s linear;
}

/* PROFILE INFO */

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile-info h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.profile-info span {
    font-size: 14px;
    color: #777;
}

/* BUTTON */

.btn-outline {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    border: 1px solid #444;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    transition: all 0.3s ease;
    width: fit-content;
}

.btn-outline:hover {
    background: #000;
    color: #fff;
}






/* =========================
   Business Section
========================= */

.business-section {
    background-color: var(--bg-sections);
    padding: var(--pm64) 0;
}

.section-title {
    color: var(--bg1-color);
    font-weight: 700;
    margin-bottom: 3rem;
}

/* Tab Styling */
.nav-pills .nav-link {
    color: var(--sub-text);
    font-weight: 600;
    border-radius: 0;
    border-bottom: 3px solid transparent;
    padding-bottom: 10px;
    background: none !important;
}

.nav-pills .nav-link.active {
    color: var(--bg1-color) !important;
    border-bottom-color: var(--button-color);
}

.nav-pills img {
    display: block;
    margin: 0 auto 10px;
    height: 40px;
    filter: grayscale(100%);
    opacity: 0.6;
    transition: 0.3s ease;
}

.nav-pills .nav-link.active img {
    filter: none;
    opacity: 1;
}

/* Image Card Styling */

.business-card {
    position: relative;
    display: block;
    border-radius: var(--radius-lg);
    overflow: hidden;
    margin-bottom: 24px;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.business-card:hover {
    transform: translateY(-8px);
}

/* Image Zoom Effect */
.business-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.business-card:hover img {
    transform: scale(1.1);
}

/* Overlay */
.card-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
    color: white;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.4s ease;
}

/* Slide Up + Fade In */
.business-card:hover .card-overlay {
    opacity: 1;
    transform: translateY(0);
    background: rgba(26, 65, 116, 0.7);
}

/* Overlay Text */
.card-overlay span {
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s ease;
}

.card-overlay span i {
    margin-left: 6px;
}

/* Button */
.btn-view-all {
    background-color: var(--button-color);
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn-view-all:hover {
    opacity: 0.9;
}



/* =========================
   Services Section
========================= */
.services-section {
    padding: 50px 0;
    color: var(--bg-primary);
}

.sub-heading {
    color: var(--bg-primary);
    background-color: var(--bg-danger);
    padding: 6px 16px;
    border-radius: var(--radius999);
    font-weight: 500;
    font-size: clamp(14px, 1.2vw, 16px);
    font-family: var(--font-primary);
    width: fit-content;
    text-transform: uppercase;
}

.services-section h2 {
    font-size: 38px;
    color: var(--text-primary);
    font-weight: 700;
    max-width: 700px;
    line-height: 1.3;
}

.services-section .row.flex-column {
    color: var(--bg2-color);
}

.services-section .row.flex-column .badge {
    color: var(--bg-danger);
    font-size: 18px;
}

/* ---------- Services Box ---------- */
.Services-box {
    display: flex;
    height: 300px;
}

/* Items */
.Services-box-item {
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    transition:
        opacity 0.4s ease,
        transform 0.4s ease;

}

.Services-box-item:hover:after {
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.65),
            /* bottom dark */
            rgba(0, 0, 0, 0.25),
            /* middle */
            rgba(0, 0, 0, 0)
            /* top transparent */
        );
    opacity: 1;
    transform: translateY(0);
}

.Services-box-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: translateY(20%);
    transition:
        opacity 0.4s ease,
        transform 0.4s ease;
}

/* Image Area */
.Services-box-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.08);
}

/* Content Area */
.Services-box-item .services-content {
    padding: 20px;
    border-radius: var(--radius16);
    height: 100%;
    font-size: 16px;
    line-height: 1.6;
}

.services-content {
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    left: 0;
    z-index: 1111;
}

.services-content h3 {
    font-weight: 500;
}

.Services-box-right-arrow {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
    transform: translateX(50%);
    transition:
        opacity 0.4s ease,
        transform 0.4s ease;
}

.Services-box-item:hover .Services-box-right-arrow {
    opacity: 1;
    transform: translateX(0%);
}

.Services-box-right-arrow i {
    font-size: 24px;
}

/* ---------- Hover Effect ---------- */
.Services-box-item img,
.Services-box-item>div {
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.services-content p {
    font-size: 15px;
    line-height: 1.6;
    opacity: 0.9;
    margin: 0;
}




/* =========================
   Timeline Section
========================= */
.timeline-section {
    background: rgb(234, 238, 244, 50%);
    overflow: hidden;
    height: 130vh;
    position: relative;
    z-index: 11;
}

.timeline-section .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* Heading */
.timeline-title {
    font-size: 42px;
    font-weight: 700;
    color: var(--text-primary);
}

/* Banner */
.timeline-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}

/* Paragraph */
.timeline-text {
    font-size: 18px;
    line-height: 1.8;
    color: var(--para-text);
}

/* Button */
.timeline-btn {
    background: var(--button-color);
    color: var(--bg3-color);
    padding: 14px 32px;
    border-radius: var(--radius999);
    font-weight: 600;
    transition: 0.3s ease;
}

.timeline-btn:hover {
    background: var(--bg-red-dark);
    color: var(--bg3-color);
}




/* =========================
   News Section
========================= */

.section-label {
    color: var(--button-color);
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
}

.section-title {
    font-size: 38px;
    font-weight: 700;
    color: var(--text-primary);
    margin-top: 10px;
}


.news-card h5,
.news-card h6 {
    font-weight: 600;
    color: var(--text-color);
}

.news-card p {
    font-size: 14px;
    color: var(--para-text);
}

.news-card small {
    color: var(--sub-text);
    font-size: 12px;
}

.col-lg-3.right .news-card,
.col-lg-3.left .news-list-item,
.news-card-video {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(107, 114, 128, 0.25);
}

.news-card-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-list-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e7eb;
}

.news-list-item h6 {
    font-weight: 600;
    color: var(--text-color);
}

.news-list-item p {
    font-size: 14px;
    color: var(--para-text);
    margin: 8px 0;
}

.news-list-item small {
    font-size: 12px;
    color: var(--sub-text);
}